if [ -f ./.labrc ]; then
  source_env ./.labrc
fi

if [ -f ./.envrc.local ]; then
  source_env ./.envrc.local
fi

export OP_VAULT_ID="${OP_VAULT_ID:-}"
export PANGOLIN_PREFIX="${PANGOLIN_PREFIX:-}"
export PANGOLIN_ENDPOINT="${PANGOLIN_ENDPOINT:-}"
export KUBECONFIG_INTERNAL="${KUBECONFIG_INTERNAL:-}"

if [ -n "${KUBECONFIG_INTERNAL:-}" ] && [ -z "${KUBECONFIG:-}" ]; then
  export KUBECONFIG="${KUBECONFIG_INTERNAL}"
fi

layout bash
