apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: onepassword-store
  namespace: {{ eso_namespace }}
spec:
  provider:
    onepasswordSDK:
      vault: "{{ op_vault_id }}"
      auth:
        serviceAccountSecretRef:
          name: op-token
          key: token
