apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lab-test-sync
  namespace: {{ eso_namespace }}
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: onepassword-store
    kind: SecretStore
  target:
    name: rita-test-k8s-secret
    creationPolicy: Owner
  data:
    - secretKey: my-test-value
      remoteRef:
        key: "{{ test_secret_item }}/{{ test_secret_field }}"
