apc.enable_cli=1
apc.shm_size={{ nextcloud_apcu_shm_size }}
memory_limit={{ nextcloud_php_memory_limit }}

opcache.enable=1
opcache.memory_consumption={{ nextcloud_opcache_memory_consumption }}
opcache.interned_strings_buffer={{ nextcloud_opcache_interned_strings_buffer }}
opcache.max_accelerated_files={{ nextcloud_opcache_max_accelerated_files }}
opcache.revalidate_freq={{ nextcloud_opcache_revalidate_freq }}
opcache.save_comments={{ nextcloud_opcache_save_comments }}
